<footer class="container footer pt-3 font-weight-light">
  <div class="row">

    <div class="col-md-4">
      <ul class="list-unstyled">
        <li>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></li>
        <li><a href="mailto:hello@cultureofcode.com">hello@cultureofcode.com</a></li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li><span class="fab fa-github"><a href="https://github.com/kpb">kpb</a></span></li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <p>Digital fuel for an empty tank world.</p>
      <p>
        A curated guide through the wilderness of technology, agile methods, and development tools.
      </p>
      <p>Fire for the culture of code.</p>
    </div>
    
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <p>
        <small>
          <a href="https://cultureofcode.com">Culture of Code</a> by <a href="mailto:kenneth@kennethbowen.com">Kenneth Bowen</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </p>
    </div>
  </div>
</footer>


