<footer class="container footer pt-3 font-weight-light">
  <div class="row">
    <div class="col-md-4">
      <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <p>Digital fuel for an empty tank world.</p>
      <p>
        A curated guide through the wilderness of technology, agile methods, and development tools.
      </p>
      <p>Fire for the culture of code.</p>
    </div>
  </div>

</footer>


